<!DOCTYPE html>
<html>

<title>Books|Goodreads</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
<nav >
  <div class="nav-wrapper deep-purple darken-4">
    <a href="{{url_for ('index') }}" class="brand-logo">ReadIt</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="">Search</a></li>
      <li><a href="index.html">Logout</a></li>
      <!-- Dropdown Trigger -->
    </ul>
  </div>
</nav>
<nav>
    <div class="nav-wrapper  indigo ">
      <form action="books/search/<search>">
        <div class="input-field " >
          {{form.search}}
          <label class="label-icon " for="search"><i class="material-icons youtube_searched_for">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

                    {% for book in books %}

  <ul class="collection">
    <li class="collection-item avatar">
      <img src="{{ url_for('static', filename='images/nicole-honeywill-704526-unsplash.jpg') }}" alt="" class="circle">
      <span class="title">{{book.title}}</span>
      <p>{{book.author}} <br>
      {{book.year}}<br>
       </p>
       <br>
       {{book.isbn}}
      <a href="#!" class="secondary-content"><i class="material-icons"></i></a>
    </li>
{% endfor %}
{% block content %} {% endblock %}

</body>
</html>