{% block style %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
            <link rel="stylesheet" href="{{url_for ('static', filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/light-box.css') }}">


{% endblock %}
{% block content%}


<div class="row" style="padding:6px;margin:200px 400px;">
<form class="col s12" method='post'>
<div class="row">
    {{form.username.label}}
<div class="input-field col s6">
    {{form.username}}
</div>
</div>

<div class="row">
    {{form.password.label}}

<div class="input-field col s6">
    {{form.password}}
</div>
</div>

<div class="row">

{{form.submit}}
</div>
</form>
</div>
 {% endblock %} 