
    {% extends 'books.html' %}
    {% block content %}
    {% block title %}
      Welcome
    {% endblock %} 
    {% block style %}
    
    

    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">



  {% endblock %}
 
    <!-- <h2>registration Form</h2> -->
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="User Name" type="text" class="validate" placeholder="User Name">
         
        </div>
       
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input  id="Email" type="text" class="validate" plcaholder="Email">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" placeholder="Password">
          
        </div>
      </div>
      
     
    </form>
  </div>
{% endblock %}

